In [1]:
import pandas as pd

data = [10, 20, 30 ,40, 50]

series_object = pd.Series(data)

print("One-dimensional array-like object:")
print(series_object)

One-dimensional array-like object:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
data = [10, 20, 30, 40, 50]

series_object = pd.Series(data)
python_list = series_object.tolist()

print("Python list:", python_list)
print("Type of python list:", type(python_list))

Python list: [10, 20, 30, 40, 50]
Type of python list: <class 'list'>

series1 = pd.Series([2, 4, 6, 8, 10])
series2 = pd.Series([1, 3, 5, 7, 9])

add_result = series1 + series2
sub_result = series1 - series2
mul_result = series1 * series2
div_result = series1 / series2

print("Addition Result:")
print(add_result)
print("\nSubtraction Result:")
print(sub_result)
print("\nMultiplication Result:")
print(mul_result)
print("\nDivision Result:")
print(div_result)

In [4]:
series1 = pd.Series([2, 4, 6, 8, 10])
series2 = pd.Series([1, 3, 5, 7, 9])

add_result = series1 + series2
sub_result = series1 - series2
mul_result = series1 * series2
div_result = series1 / series2

print("Addition Result:")
print(add_result)
print("\nSubtraction Result:")
print(sub_result)
print("\nMultiplication Result:")
print(mul_result)
print("\nDivision Result:")
print(div_result)

Addition Result:
0     3
1     7
2    11
3    15
4    19
dtype: int64

Subtraction Result:
0    1
1    1
2    1
3    1
4    1
dtype: int64

Multiplication Result:
0     2
1    12
2    30
3    56
4    90
dtype: int64

Division Result:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [5]:
series1 = pd.Series([2, 4, 6, 8, 10])
series2 = pd.Series([1, 3, 5, 7, 9])

equal_to = series1 == series2
not_equal_to = series1 != series2
greater_than = series1 > series2
less_than = series1 < series2
greater_than_or_equal_to = series1 >= series2
less_than_or_equal_to = series1 <= series2

print("Equal to:")
print(equal_to)
print("Not equal to:")
print(not_equal_to)
print("Greater than:")
print(greater_than)
print("Less than")
print(less_than)
print("Greater than or equal to:")
print(greater_than_or_equal_to)
print("Less than or equal to:")
print(less_than_or_equal_to)

Equal to:
0    False
1    False
2    False
3    False
4    False
dtype: bool
Not equal to:
0    True
1    True
2    True
3    True
4    True
dtype: bool
Greater than:
0    True
1    True
2    True
3    True
4    True
dtype: bool
Less than
0    False
1    False
2    False
3    False
4    False
dtype: bool
Greater than or equal to:
0    True
1    True
2    True
3    True
4    True
dtype: bool
Less than or equal to:
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [7]:
original_dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

series_from_dict = pd.Series(original_dict)

print("Panda series from original dictionary:")
print(series_from_dict)

Panda series from original dictionary:
a    100
b    200
c    300
d    400
e    800
dtype: int64

In [8]:
import numpy as np

numpy_array = np.array([10, 20, 30, 40, 50])

series_from_numpy = pd.Series(numpy_array)

print("Numpy array to a panda series:")
print(series_from_numpy)

Numpy array to a panda series:
0    10
1    20
2    30
3    40
4    50
dtype: int32

In [10]:
original_series = pd.Series(['100', '200', 'python', '300.12', '400'])

numeric_series = pd.to_numeric(original_series, errors='coerce')

print("Original series:")
print(original_series)
print("Panda series to numeric series:")
print(numeric_series)

Original series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Panda series to numeric series:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [12]:
data = {
    'col1': [1, 2, 3, 4, 7, 11],
    'col2': [4, 5, 6, 9, 5, 0],
    'col3': [7, 5, 8, 12, 1, 11]
}
dataframe = pd.DataFrame(data)

first_column_series = pd.Series(dataframe['col1'])

print("First column as a series:")
print(first_column_series)

print(type(first_column_series))

First column as a series:
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

In [15]:
original_series = pd.Series(['100', '200', 'python', '300.12', '400'])

print("Original series:")
print(original_series)

array_from_series = original_series.values

print("Series to an array:")
print(array_from_series)
      
print(type(array_from_series))

Original series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Series to an array:
['100' '200' 'python' '300.12' '400']
<class 'numpy.ndarray'>

In [2]:
import pandas as pd

dataFrame = {'X': [78, 85, 96, 80, 86], 'Y': [84, 94, 89, 83, 86], 'Z': [86, 97, 96, 72, 83]}

dataFrame = pd.DataFrame(dataFrame)

print(dataFrame)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [5]:
import numpy as np

exam_data = {
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19]
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

dataFrame = pd.DataFrame(exam_data, index=labels)

print(dataFrame)

   attempts       name qualify  score
a         1  Anastasia     yes   12.5
b         3       Dima      no    9.0
c         2  Katherine     yes   16.5
d         3      James      no    NaN
e         2      Emily      no    9.0
f         3    Michael     yes   20.0
g         1    Matthew     yes   14.5
h         1      Laura      no    NaN
i         2      Kevin      no    8.0
j         1      Jonas     yes   19.0

In [6]:
print("Summary of the basic information about this DataFrame and its data:")
print(dataFrame.info())

Summary of the basic information about this DataFrame and its data:
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   attempts  10 non-null     int64
 1   name      10 non-null     object
 2   qualify   10 non-null     object
 3   score     8 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

In [7]:
first_three_rows = dataFrame.head(3)

print("First three rows of the data frame:")
print(first_three_rows)

First three rows of the data frame:
   attempts       name qualify  score
a         1  Anastasia     yes   12.5
b         3       Dima      no    9.0
c         2  Katherine     yes   16.5

In [8]:
selected_columns = dataFrame[['name', 'score']]

print("Select specific columns:")
print(selected_columns)

Select specific columns:
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [9]:
selected_data = dataFrame.loc[['b', 'd', 'f', 'g'], ['score', 'qualify']]

print("Select specific columns and rows:")
print(selected_data)

Select specific columns and rows:
   score qualify
b    9.0      no
d    NaN      no
f   20.0     yes
g   14.5     yes

In [10]:
result_dataFrame = dataFrame[dataFrame['attempts'] > 2]

print("Number of attempts in the examination is greater than 2:")
print(result_dataFrame)

Number of attempts in the examination is greater than 2:
   attempts     name qualify  score
b         3     Dima      no    9.0
d         3    James      no    NaN
f         3  Michael     yes   20.0

In [11]:
num_rows = dataFrame.shape[0]
num_columns = dataFrame.shape[1]

print("Number of Rows:", num_rows)
print("Number of Columns:", num_columns)

Number of Rows: 10
Number of Columns: 4

In [12]:
missing_score_rows = dataFrame[dataFrame['score'].isnull()]

print("Rows where score is missing:")
print(missing_score_rows)

Rows where score is missing:
   attempts   name qualify  score
d         3  James      no    NaN
h         1  Laura      no    NaN

In [13]:
score_between_15_and_20 = dataFrame[(dataFrame['score'] >= 15) & (dataFrame['score'] <= 20)]

print("Rows where score is between 15 and 20 (inclusive):")
print(score_between_15_and_20)

Rows where score is between 15 and 20 (inclusive):
   attempts       name qualify  score
c         2  Katherine     yes   16.5
f         3    Michael     yes   20.0
j         1      Jonas     yes   19.0