In [1]:
import pandas as pd

student_data1 = {
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'], 
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': ['200', '210', '190', '222', '199']
}

student_data2 = {
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'], 
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': ['201', '200', '198', '219', '201']
}

student_data1 = pd.DataFrame(student_data1)
student_data2 = pd.DataFrame(student_data2)

student_data_combined = pd.concat([student_data1, student_data2], ignore_index=True)

print(student_data_combined)

  student_id              name marks
0         S1  Danniella Fenton   200
1         S2      Ryder Storey   210
2         S3      Bryce Jensen   190
3         S4         Ed Bernal   222
4         S5       Kwame Morin   199
5         S4  Scarlette Fisher   201
6         S5  Carla Williamson   200
7         S6       Dante Morse   198
8         S7    Kaiser William   219
9         S8   Madeeha Preston   201

In [2]:
student_data_combined = pd.merge(student_data1, student_data2, on='student_id', suffixes=('_1', '_2'), how='outer')

print(student_data_combined)

  student_id            name_1 marks_1            name_2 marks_2
0         S1  Danniella Fenton     200               NaN     NaN
1         S2      Ryder Storey     210               NaN     NaN
2         S3      Bryce Jensen     190               NaN     NaN
3         S4         Ed Bernal     222  Scarlette Fisher     201
4         S5       Kwame Morin     199  Carla Williamson     200
5         S6               NaN     NaN       Dante Morse     198
6         S7               NaN     NaN    Kaiser William     219
7         S8               NaN     NaN   Madeeha Preston     201

In [2]:
import pandas as pd

student_data1 = {
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'], 
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': ['200', '210', '190', '222', '199']
}

new_row = pd.DataFrame([{'student_id': 'S6', 'name': 'Scarlette Fisher', 'marks': '205'}]) 

student_data1 = pd.DataFrame(student_data1)

combined_data = pd.concat([student_data1, new_row], ignore_index=True)

print(combined_data)

  student_id              name marks
0         S1  Danniella Fenton   200
1         S2      Ryder Storey   210
2         S3      Bryce Jensen   190
3         S4         Ed Bernal   222
4         S5       Kwame Morin   199
5         S6  Scarlette Fisher   205

In [7]:
new_data_dict = {
    'student_id': 'S6', 
    'name': 'Scarlette Fisher', 
    'marks': '205'
}

new_row = pd.DataFrame([new_data_dict])

combined_data = pd.concat([student_data1, new_row], ignore_index=True)

print(combined_data)

  student_id              name marks
0         S1  Danniella Fenton   200
1         S2      Ryder Storey   210
2         S3      Bryce Jensen   190
3         S4         Ed Bernal   222
4         S5       Kwame Morin   199
5         S6  Scarlette Fisher   205

In [11]:
exam_data = {
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
    'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]
}

student_data2 = {
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'], 
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': ['201', '200', '198', '219', '201']
}

exam_data = pd.DataFrame(exam_data)
student_data2 = pd.DataFrame(student_data2)

all_student_data = pd.concat([student_data1, student_data2], ignore_index=True)

final_data = pd.merge(all_student_data, exam_data, on='student_id', how='left')

print(final_data)

  student_id              name marks  exam_id
0         S1  Danniella Fenton   200     23.0
1         S2      Ryder Storey   210     45.0
2         S3      Bryce Jensen   190     12.0
3         S4         Ed Bernal   222     67.0
4         S5       Kwame Morin   199     21.0
5         S4  Scarlette Fisher   201     67.0
6         S5  Carla Williamson   200     21.0
7         S6       Dante Morse   198      NaN
8         S7    Kaiser William   219     55.0
9         S8   Madeeha Preston   201     33.0

In [12]:
joined_data = pd.merge(student_data1, student_data2, on='student_id', suffixes=('_1', '_2'), how='inner')

print(joined_data)

  student_id       name_1 marks_1            name_2 marks_2
0         S4    Ed Bernal     222  Scarlette Fisher     201
1         S5  Kwame Morin     199  Carla Williamson     200

In [13]:
matched_records = pd.merge(student_data1, student_data2, on='student_id', suffixes=('_1', '_2'), how='inner')

print(matched_records)

  student_id       name_1 marks_1            name_2 marks_2
0         S4    Ed Bernal     222  Scarlette Fisher     201
1         S5  Kwame Morin     199  Carla Williamson     200

In [14]:
data1 = {
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
}

data2 = {
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
}

dataFrame_1 = pd.DataFrame(data1)
dataFrame_2 = pd.DataFrame(data2)

left_join_data = pd.merge(dataFrame_1, dataFrame_2, on=['key1', 'key2'], how='left')

print(left_join_data)

  key1 key2   P   Q    R    S
0   K0   K0  P0  Q0   R0   S0
1   K0   K1  P1  Q1  NaN  NaN
2   K1   K0  P2  Q2   R1   S1
3   K1   K0  P2  Q2   R2   S2
4   K2   K1  P3  Q3  NaN  NaN

In [2]:
import pandas as pd

data1 = {
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
}

data2 = {
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
}

dataFrame_1 = pd.DataFrame(data1)
dataFrame_2 = pd.DataFrame(data2)

right_join_data = pd.merge(dataFrame_1, dataFrame_2, on=['key1', 'key2'], how='right')

print(right_join_data)

  key1 key2    P    Q   R   S
0   K0   K0   P0   Q0  R0  S0
1   K1   K0   P2   Q2  R1  S1
2   K1   K0   P2   Q2  R2  S2
3   K2   K0  NaN  NaN  R3  S3

In [3]:
merged_data = pd.merge(dataFrame_1, dataFrame_2, on=['key1', 'key2'])

print(merged_data)

  key1 key2   P   Q   R   S
0   K0   K0  P0  Q0  R0  S0
1   K1   K0  P2  Q2  R1  S1
2   K1   K0  P2  Q2  R2  S2

In [4]:
series1 = pd.Series([1, 2, 3, 4, 5])
series2 = pd.Series(['A', 'B', 'C', 'D', 'E'])

new_dataframe = pd.DataFrame({'Column1': series1, 'Column2': series2})

new_dataframe.columns = ['New_Column1', 'New_Column2']

print(new_dataframe)

   New_Column1 New_Column2
0            1           A
1            2           B
2            3           C
3            4           D
4            5           E

In [5]:
merged_data = pd.merge(dataFrame_1, dataFrame_2, on=['key1', 'key2'])

combination_appears_more_than_once = merged_data[merged_data.duplicated(subset=['key1', 'key2'], keep=False)]

print(combination_appears_more_than_once)

  key1 key2   P   Q   R   S
1   K1   K0  P2  Q2  R1  S1
2   K1   K0  P2  Q2  R2  S2

In [6]:
data1 = {
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
}

data2 = {
    'C': ['C0', 'C2', 'C3'],
    'D': ['D0', 'D2', 'D3']
}

dataFrame_1 = pd.DataFrame(data1, index=['K0', 'K1', 'K2'])
dataFrame_2 = pd.DataFrame(data2, index=['K0', 'K2', 'K3'])

result = pd.concat([dataFrame_1, dataFrame_2], axis=1)

print(result)

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

In [7]:
data1 = {
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
}

data2 = {
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
}

dataFrame_1 = pd.DataFrame(data1)
dataFrame_2 = pd.DataFrame(data2)

merged_data = pd.merge(dataFrame_1, dataFrame_2, on=['key1', 'key2'])

print(merged_data)

  key1 key2   P   Q   R   S
0   K0   K0  P0  Q0  R0  S0
1   K1   K0  P2  Q2  R1  S1
2   K1   K0  P2  Q2  R2  S2

In [8]:
import numpy as np

dataFrame_1 = pd.DataFrame({'A': [np.nan, 0.0, np.nan], 'B': [3, 4, 5]})
dataFrame_2 = pd.DataFrame({'A': [1, 1, 3], 'B': [3.0, np.nan, 3.0]})

combined_dataFrame = dataFrame_1.combine_first(dataFrame_2)

print(combined_dataFrame)

     A    B
0  1.0  3.0
1  0.0  4.0
2  3.0  5.0